/* 
@import url("./card.css");

*{
    box-sizing: border-box;
     margin: 0;
}
.conteiner{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;

}
.awesome{
    text-align: center;
    font-size: 36px;
    line-height: 42px;
   
}
.line{
    width: 64px;
    border-bottom: 1px solid #D98943;
    margin: auto;
       
}
.discription{
    font-size: 14px;
    text-align: center;
    
} */
